In [1]:
import pandas as pd
from pathlib import Path

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

print("Kayıt yolu:", DATA_RAW.resolve())

Kayıt yolu: C:\Users\ersan\OneDrive\Masaüstü\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw

In [2]:
# 2025–26 oyuncu istatistikleri (NBAstuffer)
url_player = "https://www.nbastuffer.com/2025-2026-nba-player-stats/"

# Sayfadaki ilk tabloyu al
df_players = pd.read_html(url_player)[0]

# İlk 5 satırı göster
display(df_players.head())

# Kaç oyuncu var?
print("Oyuncu sayısı:", len(df_players))

# CSV olarak kaydet
output_path = DATA_RAW / "nbastuffer_2025_2026_player_stats_raw.csv"
df_players.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,NAME,TEAM,CUR,POS,AGE,GP,MpG,USG%,TO%,...,ApG,SpG,BpG,TOpG,P+R,P+A,P+R+A,VI,ORtg,DRtg
0,NaN,Jabari Smith Jr.,Hou,*,F,22.6,27,34.6,17.9,10.2,...,1.9,0.7,0.7,1.4,22.4,17.6,24.4,6.8,122.9,108.6
1,NaN,Alperen Sengun,Hou,*,C,23.4,26,35.6,27.1,17.0,...,6.8,1.5,1.0,3.5,32.1,29.5,38.8,12.7,120.9,105.7
2,NaN,Steven Adams,Hou,*,C,32.4,23,21.6,12.2,19.3,...,1.5,0.6,0.6,1.0,14.3,7.2,15.8,7.8,128.6,107.2
3,NaN,Kevin Durant,Hou,*,F,37.2,26,36.3,26.0,15.6,...,4.2,0.9,1.0,3.1,30.1,29.3,34.3,8.9,125.6,111.9
4,NaN,Amen Thompson,Hou,*,G-F,22.9,28,36.8,20.7,15.6,...,5.3,1.4,0.5,2.6,25.2,23.2,30.5,9.6,121.7,110.9

Oyuncu sayısı: 506
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_player_stats_raw.csv

In [3]:
# 2025–26 takım istatistikleri (NBAstuffer)
url_team = "https://www.nbastuffer.com/2025-2026-nba-team-stats/"

df_teams = pd.read_html(url_team)[0]

display(df_teams.head())
print("Takım sayısı:", len(df_teams))

output_path = DATA_RAW / "nbastuffer_2025_2026_team_stats_raw.csv"
df_teams.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,TEAM,CONF,DIVISION,GP,PPG,oPPG,pDIFF,PACE,oEFF,...,SAR,CONS,A4F,W,L,WIN%,eWIN%,pWIN%,ACH,STRK
0,NaN,Atlanta,East,Southeast,31,118.8,119.6,-0.8,102.0,115.6,...,-1.37,14.3,0.232,15,16,0.484,0.478,0.474,0.006,-4
1,NaN,Boston,East,Atlantic,29,116.0,110.0,6.0,95.8,121.2,...,4.18,16.7,0.255,18,11,0.621,0.647,0.698,-0.026,3
2,NaN,Brooklyn,East,Atlantic,28,109.3,113.9,-4.6,97.8,111.7,...,-4.57,17.8,0.234,9,19,0.321,0.394,0.349,-0.073,2
3,NaN,Charlotte,East,Southeast,30,115.4,118.8,-3.4,99.3,115.1,...,-2.79,15.1,0.236,10,20,0.333,0.411,0.388,-0.078,1
4,NaN,Chicago,East,Central,29,119.7,123.0,-3.3,103.1,115.3,...,-4.09,11.9,0.253,14,15,0.483,0.394,0.391,0.089,4

Takım sayısı: 30
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_team_stats_raw.csv

In [4]:
DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

urls = {
    "referee_stats": "https://www.nbastuffer.com/2025-2026-nba-referee-stats/",
    "rest_days_stats": "https://www.nbastuffer.com/2025-2026-nba-rest-days-stats/",
    "schedule_rest_days": "https://www.nbastuffer.com/2025-2026-nba-schedule-rest-days-analysis/"
}

for name, url in urls.items():
    df = pd.read_html(url)[0]
    df.to_csv(DATA_RAW / f"nbastuffer_2025_2026_{name}.csv", index=False)
    print(f"✓ Kaydedildi: nbastuffer_2025_2026_{name}.csv")

✓ Kaydedildi: nbastuffer_2025_2026_referee_stats.csv

✓ Kaydedildi: nbastuffer_2025_2026_rest_days_stats.csv

✓ Kaydedildi: nbastuffer_2025_2026_schedule_rest_days.csv