In [1]:
import pandas as pd
from pathlib import Path

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

print("Kayıt yolu:", DATA_RAW.resolve())

Kayıt yolu: C:\Users\ersan\OneDrive\Masaüstü\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw

In [2]:
# 2025–26 oyuncu istatistikleri (NBAstuffer)
url_player = "https://www.nbastuffer.com/2025-2026-nba-player-stats/"

# Sayfadaki ilk tabloyu al
df_players = pd.read_html(url_player)[0]

# İlk 5 satırı göster
display(df_players.head())

# Kaç oyuncu var?
print("Oyuncu sayısı:", len(df_players))

# CSV olarak kaydet
output_path = DATA_RAW / "nbastuffer_2025_2026_player_stats_raw.csv"
df_players.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,NAME,TEAM,CUR,POS,AGE,GP,MpG,USG%,TO%,...,ApG,SpG,BpG,TOpG,P+R,P+A,P+R+A,VI,ORtg,DRtg
0,NaN,Jabari Smith Jr.,Hou,*,F,22.5,10,32.0,17.9,7.7,...,1.8,0.8,0.8,1.0,20.9,16.7,22.7,6.8,126.4,109.8
1,NaN,Alperen Sengun,Hou,*,C,23.3,11,36.1,24.7,17.0,...,7.4,1.4,0.9,3.2,32.5,29.7,39.9,13.2,128.0,106.2
2,NaN,Steven Adams,Hou,*,C,32.3,10,21.2,11.6,19.5,...,1.6,0.8,0.8,1.0,15.4,8.0,17.0,8.5,143.4,104.9
3,NaN,Kevin Durant,Hou,*,F,37.1,11,35.3,26.2,14.5,...,3.2,1.1,0.6,2.8,29.7,28.3,32.9,8.1,126.2,110.0
4,NaN,Amen Thompson,Hou,*,G-F,22.8,11,35.2,21.6,14.2,...,5.5,1.4,0.5,2.4,23.5,23.2,28.9,9.3,121.3,111.9

Oyuncu sayısı: 465
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_player_stats_raw.csv

In [3]:
# 2025–26 takım istatistikleri (NBAstuffer)
url_team = "https://www.nbastuffer.com/2025-2026-nba-team-stats/"

df_teams = pd.read_html(url_team)[0]

display(df_teams.head())
print("Takım sayısı:", len(df_teams))

output_path = DATA_RAW / "nbastuffer_2025_2026_team_stats_raw.csv"
df_teams.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,TEAM,CONF,DIVISION,GP,PPG,oPPG,pDIFF,PACE,oEFF,...,SAR,CONS,A4F,W,L,WIN%,eWIN%,pWIN%,ACH,STRK
0,NaN,Atlanta,East,Southeast,13,117.1,113.4,3.7,101.8,115.0,...,2.94,15.3,0.220,8,5,0.615,0.593,0.622,0.022,4
1,NaN,Boston,East,Atlantic,13,113.2,108.5,4.7,96.3,117.6,...,2.89,19.8,0.202,6,7,0.462,0.598,0.655,-0.136,1
2,NaN,Brooklyn,East,Atlantic,12,108.9,123.3,-14.4,98.5,110.6,...,-10.43,12.3,0.320,1,11,0.083,0.118,0.026,-0.035,-4
3,NaN,Charlotte,East,Southeast,13,117.2,120.5,-3.3,99.6,116.8,...,-1.83,17.0,0.254,4,9,0.308,0.423,0.391,-0.115,-2
4,NaN,Chicago,East,Central,11,118.6,118.9,-0.3,102.1,116.2,...,1.45,10.0,0.281,6,5,0.545,0.488,0.490,0.057,-4

Takım sayısı: 30
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_team_stats_raw.csv

In [9]:
DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

urls = {
    "referee_stats": "https://www.nbastuffer.com/2025-2026-nba-referee-stats/",
    "rest_days_stats": "https://www.nbastuffer.com/2025-2026-nba-rest-days-stats/",
    "schedule_rest_days": "https://www.nbastuffer.com/2025-2026-nba-schedule-rest-days-analysis/"
}

for name, url in urls.items():
    df = pd.read_html(url)[0]
    df.to_csv(DATA_RAW / f"nbastuffer_2025_2026_{name}.csv", index=False)
    print(f"✓ Kaydedildi: nbastuffer_2025_2026_{name}.csv")

✓ Kaydedildi: nbastuffer_2025_2026_referee_stats.csv
✓ Kaydedildi: nbastuffer_2025_2026_rest_days_stats.csv
✓ Kaydedildi: nbastuffer_2025_2026_schedule_rest_days.csv

In [4]:
import pandas as pd
from pathlib import Path

nb_dir = Path("../data_raw/nocturnebear_2010_2024")

df_box1 = pd.read_csv(nb_dir / "regular_season_box_scores_2010_2024_part_1.csv")
print("Part 1 satır sayısı:", len(df_box1))
display(df_box1.head())

df_totals = pd.read_csv(nb_dir / "regular_season_totals_2010_2024.csv")
print("Team totals shape:", df_totals.shape)
display(df_totals.head())

Part 1 satır sayısı: 141493

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-11-10,21000112,NJN @ CLE,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,-4
1,2010-11,2010-11-17,21000165,NJN @ UTA,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2010-11-27,21000237,NJN @ PHI,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
3,2010-11,2010-12-12,21000351,NJN vs. LAL,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
4,2010-11,2010-10-29,21000020,NJN vs. SAC,1610612751,New Jersey,Nets,NJN,nets,693,...,0,1,1,1,0,0,1,1,2,6

Team totals shape: (33316, 57)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2022-23,1610612744,GSW,Golden State Warriors,22201230,2023-04-09T00:00:00,GSW @ POR,W,48.0,58,...,1,1578,55,512,457,678,2455,3,1,1.0
1,2020-21,1610612749,MIL,Milwaukee Bucks,22000051,2020-12-29T00:00:00,MIL @ MIA,W,48.0,51,...,146,1636,33,1830,1361,1552,1220,14,7,1.0
2,2013-14,1610612751,BKN,Brooklyn Nets,21300359,2013-12-16T00:00:00,BKN vs. PHI,W,48.0,47,...,22,2280,406,1979,1,1004,453,19,12,1.0
3,2013-14,1610612757,POR,Portland Trail Blazers,21300347,2013-12-14T00:00:00,POR @ PHI,W,48.0,52,...,2,2065,628,204,1269,272,2190,4,15,1.0
4,2018-19,1610612745,HOU,Houston Rockets,21801200,2019-04-07T00:00:00,HOU vs. PHX,W,48.0,53,...,84,176,149,917,1,244,1725,4,20,1.0

In [5]:
import pandas as pd

paths = [
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_1.csv",
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_2.csv",
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_3.csv"
]

df_all = pd.concat([pd.read_csv(p) for p in paths], ignore_index=True)
df_all.to_csv("../data_interim/regular_season_box_scores_2010_2024.csv", index=False)

In [ ]:
from nba_api.stats.endpoints import playergamelog
from pathlib import Path

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

# Örnek oyuncu: Nikola Jokić
player_id = 203999
season = "2025-26"

# Veriyi çek
log = playergamelog.PlayerGameLog(player_id=player_id, season=season)
df = log.get_data_frames()[0]

# İlgili kolonları filtrele
df_selected = df[["GAME_DATE", "MATCHUP", "MIN", "PTS", "REB", "AST", "FG_PCT", "FG3_PCT", "FT_PCT"]]

# CSV dosyası olarak kaydet
csv_path = DATA_RAW / f"player_{player_id}_gamelog_2025_26.csv"
df_selected.to_csv(csv_path, index=False)

print(f"✓ Kaydedildi: {csv_path.resolve()}")

✓ Kaydedildi: C:\Users\ersan\OneDrive\Masaüstü\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw\player_203999_gamelog_2025_26.csv