In [1]:
import pandas as pd
from pathlib import Path

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

print("Kayƒ±t yolu:", DATA_RAW.resolve())

Kayƒ±t yolu: C:\Users\ersan\OneDrive\Masa√ºst√º\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw

In [2]:
# 2025‚Äì26 oyuncu istatistikleri (NBAstuffer)
url_player = "https://www.nbastuffer.com/2025-2026-nba-player-stats/"

# Sayfadaki ilk tabloyu al
df_players = pd.read_html(url_player)[0]

# ƒ∞lk 5 satƒ±rƒ± g√∂ster
display(df_players.head())

# Ka√ß oyuncu var?
print("Oyuncu sayƒ±sƒ±:", len(df_players))

# CSV olarak kaydet
output_path = DATA_RAW / "nbastuffer_2025_2026_player_stats_raw.csv"
df_players.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,NAME,TEAM,CUR,POS,AGE,GP,MpG,USG%,TO%,...,ApG,SpG,BpG,TOpG,P+R,P+A,P+R+A,VI,ORtg,DRtg
0,NaN,Jabari Smith Jr.,Hou,*,F,22.6,22,34.0,17.8,10.2,...,2.0,0.7,0.8,1.4,22.1,17.5,24.2,7.0,124.4,107.2
1,NaN,Alperen Sengun,Hou,*,C,23.4,21,36.2,27.2,16.2,...,7.1,1.5,1.0,3.4,32.9,30.6,40.0,12.8,122.7,104.7
2,NaN,Steven Adams,Hou,*,C,32.4,19,21.3,12.2,20.7,...,1.5,0.7,0.7,1.1,14.8,7.7,16.3,8.1,134.3,105.3
3,NaN,Kevin Durant,Hou,*,F,37.2,21,35.8,26.4,15.2,...,4.0,1.0,0.8,3.0,29.4,28.8,33.4,8.6,123.5,110.5
4,NaN,Amen Thompson,Hou,*,G-F,22.9,23,36.5,20.8,15.2,...,5.3,1.3,0.5,2.5,24.7,22.6,30.0,9.6,119.8,109.6

Oyuncu sayƒ±sƒ±: 501
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_player_stats_raw.csv

In [3]:
# 2025‚Äì26 takƒ±m istatistikleri (NBAstuffer)
url_team = "https://www.nbastuffer.com/2025-2026-nba-team-stats/"

df_teams = pd.read_html(url_team)[0]

display(df_teams.head())
print("Takƒ±m sayƒ±sƒ±:", len(df_teams))

output_path = DATA_RAW / "nbastuffer_2025_2026_team_stats_raw.csv"
df_teams.to_csv(output_path, index=False)
print("Kaydedildi:", output_path)

,RANK,TEAM,CONF,DIVISION,GP,PPG,oPPG,pDIFF,PACE,oEFF,...,SAR,CONS,A4F,W,L,WIN%,eWIN%,pWIN%,ACH,STRK
0,NaN,Atlanta,East,Southeast,27,118.0,117.4,0.6,101.3,115.6,...,0.15,14.4,0.211,15,12,0.556,0.517,0.520,0.039,1
1,NaN,Boston,East,Atlantic,26,116.2,110.8,5.4,95.7,121.4,...,3.60,17.5,0.224,15,11,0.577,0.623,0.678,-0.046,-2
2,NaN,Brooklyn,East,Atlantic,25,110.2,115.9,-5.7,97.9,112.6,...,-5.66,18.2,0.269,7,18,0.280,0.375,0.312,-0.095,1
3,NaN,Charlotte,East,Southeast,26,114.8,118.4,-3.6,99.0,114.7,...,-2.89,15.0,0.249,8,18,0.308,0.405,0.381,-0.097,1
4,NaN,Chicago,East,Central,26,117.6,121.9,-4.3,102.5,113.9,...,-4.78,12.1,0.236,11,15,0.423,0.368,0.358,0.055,1

Takƒ±m sayƒ±sƒ±: 30
Kaydedildi: ..\data_raw\nbastuffer_2025_2026_team_stats_raw.csv

In [4]:
DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

urls = {
    "referee_stats": "https://www.nbastuffer.com/2025-2026-nba-referee-stats/",
    "rest_days_stats": "https://www.nbastuffer.com/2025-2026-nba-rest-days-stats/",
    "schedule_rest_days": "https://www.nbastuffer.com/2025-2026-nba-schedule-rest-days-analysis/"
}

for name, url in urls.items():
    df = pd.read_html(url)[0]
    df.to_csv(DATA_RAW / f"nbastuffer_2025_2026_{name}.csv", index=False)
    print(f"‚úì Kaydedildi: nbastuffer_2025_2026_{name}.csv")

‚úì Kaydedildi: nbastuffer_2025_2026_referee_stats.csv
‚úì Kaydedildi: nbastuffer_2025_2026_rest_days_stats.csv
‚úì Kaydedildi: nbastuffer_2025_2026_schedule_rest_days.csv

In [5]:
import pandas as pd
from pathlib import Path

nb_dir = Path("../data_raw/nocturnebear_2010_2024")

df_box1 = pd.read_csv(nb_dir / "regular_season_box_scores_2010_2024_part_1.csv")
print("Part 1 satƒ±r sayƒ±sƒ±:", len(df_box1))
display(df_box1.head())

df_totals = pd.read_csv(nb_dir / "regular_season_totals_2010_2024.csv")
print("Team totals shape:", df_totals.shape)
display(df_totals.head())

Part 1 satƒ±r sayƒ±sƒ±: 141493

,season_year,game_date,gameId,matchup,teamId,teamCity,teamName,teamTricode,teamSlug,personId,...,reboundsOffensive,reboundsDefensive,reboundsTotal,assists,steals,blocks,turnovers,foulsPersonal,points,plusMinusPoints
0,2010-11,2010-11-10,21000112,NJN @ CLE,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,-4
1,2010-11,2010-11-17,21000165,NJN @ UTA,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
2,2010-11,2010-11-27,21000237,NJN @ PHI,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
3,2010-11,2010-12-12,21000351,NJN vs. LAL,1610612751,New Jersey,Nets,NJN,nets,693,...,0,0,0,0,0,0,0,0,0,0
4,2010-11,2010-10-29,21000020,NJN vs. SAC,1610612751,New Jersey,Nets,NJN,nets,693,...,0,1,1,1,0,0,1,1,2,6

Team totals shape: (33316, 57)

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2022-23,1610612744,GSW,Golden State Warriors,22201230,2023-04-09T00:00:00,GSW @ POR,W,48.0,58,...,1,1578,55,512,457,678,2455,3,1,1.0
1,2020-21,1610612749,MIL,Milwaukee Bucks,22000051,2020-12-29T00:00:00,MIL @ MIA,W,48.0,51,...,146,1636,33,1830,1361,1552,1220,14,7,1.0
2,2013-14,1610612751,BKN,Brooklyn Nets,21300359,2013-12-16T00:00:00,BKN vs. PHI,W,48.0,47,...,22,2280,406,1979,1,1004,453,19,12,1.0
3,2013-14,1610612757,POR,Portland Trail Blazers,21300347,2013-12-14T00:00:00,POR @ PHI,W,48.0,52,...,2,2065,628,204,1269,272,2190,4,15,1.0
4,2018-19,1610612745,HOU,Houston Rockets,21801200,2019-04-07T00:00:00,HOU vs. PHX,W,48.0,53,...,84,176,149,917,1,244,1725,4,20,1.0

In [6]:
import pandas as pd

paths = [
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_1.csv",
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_2.csv",
    "../data_raw/nocturnebear_2010_2024/regular_season_box_scores_2010_2024_part_3.csv"
]

df_all = pd.concat([pd.read_csv(p) for p in paths], ignore_index=True)
df_all.to_csv("../data_interim/regular_season_box_scores_2010_2024.csv", index=False)

KeyboardInterrupt:

In [7]:
from nba_api.stats.endpoints import playergamelog
from pathlib import Path

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

# √ñrnek oyuncu: Nikola Jokiƒá
player_id = 203999
season = "2025-26"

# Veriyi √ßek
log = playergamelog.PlayerGameLog(player_id=player_id, season=season)
df = log.get_data_frames()[0]

# ƒ∞lgili kolonlarƒ± filtrele
df_selected = df[["GAME_DATE", "MATCHUP", "MIN", "PTS", "REB", "AST", "FG_PCT", "FG3_PCT", "FT_PCT"]]

# CSV dosyasƒ± olarak kaydet
csv_path = DATA_RAW / f"player_{player_id}_gamelog_2025_26.csv"
df_selected.to_csv(csv_path, index=False)

print(f"‚úì Kaydedildi: {csv_path.resolve()}")

‚úì Kaydedildi: C:\Users\ersan\OneDrive\Masa√ºst√º\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw\player_203999_gamelog_2025_26.csv

In [10]:
from nba_api.stats.endpoints import leaguegamelog
from pathlib import Path
import pandas as pd
import time

DATA_RAW = Path("../data_raw")
DATA_RAW.mkdir(exist_ok=True)

def download_league_gamelog_with_retry(
    season="2025-26",
    season_type="Regular Season",
    out_path=DATA_RAW / "league_gamelog_2025_26.csv",
    max_tries=8,
    sleep_seconds=4
):
    last_err = None

    for attempt in range(1, max_tries + 1):
        try:
            print(f"üì• LeagueGameLog deneme {attempt}/{max_tries}...")

            lg = leaguegamelog.LeagueGameLog(
                season=season,
                season_type_all_star=season_type
            )

            df = lg.get_data_frames()[0]

            out_path.parent.mkdir(parents=True, exist_ok=True)
            df.to_csv(out_path, index=False)

            print(f"‚úÖ Kaydedildi: {out_path.resolve()}")
            print(f"Toplam satƒ±r (team-level): {len(df)}")
            return df

        except Exception as e:
            last_err = e
            print(f"‚ö†Ô∏è Hata: {type(e).__name__}: {e}")
            print(f"‚è≥ {sleep_seconds} sn bekleniyor...\n")
            time.sleep(sleep_seconds)

            # exponential backoff
            sleep_seconds = min(sleep_seconds * 2, 30)

    raise RuntimeError(f"‚ùå LeagueGameLog indirilemedi. Son hata: {last_err}")


# √áALI≈ûTIR
df = download_league_gamelog_with_retry()

üì• LeagueGameLog deneme 1/8...
‚úÖ Kaydedildi: C:\Users\ersan\OneDrive\Masa√ºst√º\ders\ceng481\NBA-Game-Prediction-using-Artificial-Neural-Networks\data_raw\league_gamelog_2025_26.csv
Toplam satƒ±r (team-level): 778